<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form th:action="${'/edit-student/' + student.id}" method="post">

            <p class="mt-2">NAME:</p>
            <input th:value="${student.name}" name="name" type="text" class="form-control mt-1"
                   placeholder="Insert name...">
            <p class="mt-2">SURNAME:</p>
            <input th:value="${student.surname}" name="surname" type="text" class="form-control mt-1"
                   placeholder="Insert surname...">
            <p class="mt-2">EXAM:</p>
            <input th:value="${student.exam}" name="exam" type="number" class="form-control mt-1"
                   placeholder="Insert exam...">
                <button class="btn btn-primary mt-2">Edit</button>


            </form>


        </div>
    </div>
</div>


</body>
</html>